---
http_interactions:
- request:
    method: get
    uri: https://api.airtable.com/v0/app5W8aHewaML48Kv/tbl0K1h0XrgjJNowH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      X-Api-Version:
      - 0.1.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Airtable-Uncompressed-Content-Length:
      - '577'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"records":[{"id":"reccrIlW8ta7ucnnw","createdTime":"2022-04-27T11:52:10.000Z","fields":{"Copy":"Intro
        created on {created_at, datetime}","Key":"intro.created_at"}},{"id":"recepSB8YDospS7Rp","createdTime":"2022-05-03T07:21:25.000Z","fields":{"Key":"time","Copy":"It
        is {time, datetime}"}},{"id":"recs1EgsghVIFIdae","createdTime":"2022-04-27T11:52:10.000Z","fields":{"Copy":"Hi
        {name}, welcome to {app}!","Key":"greeting"}},{"id":"recvCX9ZWgCDDbIsy","createdTime":"2022-04-27T11:52:10.000Z","fields":{"Copy":"Intro
        updated on {updated_at, datetime}","Key":"intro.updated_at"}}]}'
  recorded_at: Tue, 03 May 2022 06:10:00 GMT
recorded_with: VCR 6.1.0
